html {
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(194, 224, 214) ;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #8b0304;
    text-shadow: 3px 3px 1px rgb(80, 79, 79);
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: bisque;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
}